<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
</head>
<body id="buildingJobList">
  <article class="select-work" id="buildingJob">
    <div class="head">
      <h2>업무를 선택해주세요</h2>
      <div class="wrapper">
        <p class="date" is="today-item" v-bind:today="nowDate"></p>
        <div class="status">
          <p><span>진행전</span></p>
          <p><span>반려</span></p>
          <p><span>진행완료</span></p>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <ul>
      <li
        is="job-item"
        v-for="(item, index) in jobList"
        v-bind:item="item"
        v-on:shot="shot(index)"
        v-on:ad-view="adView(index)">
      </ul>
    </div>
  </article>

  <script language="javascript" type="text/javascript">
  var buildingLocateId = null;
  var jobId = null;
  var buildingJobListVue = null;
  var nowDate = null;
  var buildingData = null;
  $(document).ready(function(){
    callNative('toolBar', 'main', "");
    callNative("hideBottomActionBar");
    
    buildingLocateId = $.urlParam("id");

    // 매체정보를 이용하여 단지 및 매체 정보 가져옴
    var buildingRes = dbRowArray("SELECT b.building_id,bl.building_locate_id, b.building_name, bl.dong, bl.unit_name, b.building_name||' '||bl.dong||' '||bl.unit_name AS building_locate_name, b.address FROM building_locate bl JOIN building b ON bl.building_id=b.building_id WHERE bl.building_locate_id='" + buildingLocateId + "'");

    if (buildingRes) {
      buildingData = buildingRes;
    }

    callNative('setTitle', buildingData.building_locate_name);

    nowDate = getNowDate();

    var jobList = [];

    // 모니터링 리스트 가져옴
    var monitoringRes = dbResultArray("SELECT 0 AS class, mr.monitoring_request_id AS job_id, CASE WHEN p.processing_date !='' THEN 'Y' ELSE 'N' END AS processing_flag, '모니터링' AS job_name, '' AS sub_name, '' AS ad_type, '' AS ad_url FROM monitoring_request mr LEFT JOIN processing p ON mr.monitoring_request_id=p.monitoring_request_id AND p.building_locate_id = '" + buildingData.building_locate_id + "' WHERE date(mr.request_date) = date('" + nowDate + "') AND mr.building_id='" + buildingData.building_id + "'");

    jobList = (monitoringRes)?jobList.concat(monitoringRes):jobList;

    // 게첨 리스트 가져옴
    var adRes = dbResultArray("SELECT 1 AS class, acr.ad_check_building_id AS job_id, CASE WHEN p.processing_date !='' THEN 'Y' ELSE 'N' END AS processing_flag, '광고' AS job_name, acr.ad_name AS sub_name, acr.ad_type, acr.ad_url FROM ad_check_request acr LEFT JOIN processing p ON acr.ad_check_building_id=p.ad_check_building_id WHERE date(acr.request_date) = date('" + nowDate + "') AND acr.building_id='" + buildingData.building_id + "'");

    jobList = (adRes)?jobList.concat(adRes):jobList;
    console.log(JSON.stringify(jobList));

    Vue.component(
      'today-item',
      {
        template: '<p class="date">{{ today }}</p>',
        props: ['today']
      }
    );

    Vue.component(
      'job-item',
      {
        template: '<li v-bind:class="[item.processing_flag ==\'Y\'?\'after\':item.processing_flag ==\'R\'?\'doing\':\'before\']" v-on:click="$emit(\'shot\')">\
            <p v-if="item.class == 0">{{ item.job_name }} {{ item.processing_flag ==\'N\' ? "촬영" : "재촬영" }}</p>\
            <p v-else-if="item.class == 1">{{ item.job_name }} {{ item.processing_flag ==\'N\' ? "촬영" : "재촬영" }} <br> &lt;{{ item.sub_name }}&gt; {{ item.processing_flag ==\'N\' ? "촬영" : "재촬영" }}</p>\
            <a v-if="item.class == 1" href="javascript:void(0);" class="btn-ad" v-on:click.stop="$emit(\'ad-view\')">광고보기</a>\
          </li>',
        props: ['item']
      }
    );

    buildingJobListVue = new Vue({
      el: '#buildingJob',
      data: {
        nowDate: parseInt(nowDate.substr(2,2)) + "." + parseInt(nowDate.substr(5,2)) + "." + parseInt(nowDate.substr(8,2)),
        jobList:[]
      },
      methods: {
        shot: function(idx) {
          var jobList = this.jobList;
          var row = jobList[idx];
          console.log('shot', JSON.stringify(row));
          
          jobId = row.job_id;

          if (row.class == '0') { // 모니터링 촬영촬영용 카메라를 연다
            callNative('camera', 'monitoring', "모니터링용\n매체사진을 촬영해주세요.", {take_count: 1, title: buildingData.building_locate_name, address: buildingData.address});
          }

          if (row.class == '1') { // 광고촬영용 카메라를 연다.
            callNative('camera', 'ad', "광고게첨용\n매체사진을 5장 촬영해주세요.", {take_count: 5, title: row.sub_name, address: buildingData.address});
          }
        },
        adView: function(idx) {
          var jobList = this.jobList;
          var row = jobList[idx];
          console.log('adView', JSON.stringify(row));
          callNative('downloadMedia', row.sub_name, row.ad_type, row.ad_url);
        }
      }
    });

    buildingJobListVue.jobList = jobList;
  });

  function cameraResult(param, result) {
    console.log(result);
    
    // 촬영 타입과 결과이미지를 저장후 이동한다.
    var mode = param;
    window.localStorage.setItem("shot_result", result);
    location.href = "buildingJobProcess.html?mode=" + mode + "&id=" + buildingLocateId + "&jobId=" + jobId;
  }
  </script>

</body>
</html>
