<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
  <style type="text/css">
    .monitoring-ad .monitoring-list li .img {
      background-color: #f4f4f4;
      background-image: url('./images/no-img.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .building-shot > li {
      padding-top: 0.75rem;
      padding-right: 0.625rem;
      padding-bottom: 0.75rem;
      padding-left: 0.625rem;
      border-radius: 5px;
      box-shadow: 0 2px 3px 0 #d9d1be;
      background-color: #fff;
      margin-bottom: 0.625rem;
    }

    .building-shot > li > div.title:after {
      content: '';
      display: block;
      position: absolute;
      right: 0rem;
      top: 50%;
      left: auto;
      bottom: auto;
      margin-top: -0.4375rem;
      width: 0.5rem;
      height: 0.9375rem;
      background-image: url(./images/arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .building-shot > li > div:first-child {
      position: relative;
      display: block;
      padding-left: 3.125rem;
      align-items: center;
      min-height: 24px;
    }
    .building-shot > li > div:first-child .badge {
    position: absolute;
    left: 0rem;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -0.625rem;
  }
  .building-shot > li > div:first-child p {
    font-size: 0.6875rem;
    line-height: 2.0 !important;
    font-weight: 700;
  }
  .monitoring-ad .monitoring-list li .badge-icon {
    position: absolute;
    left: 0.625rem;
    top: 0.625rem;
    right: auto;
    bottom: auto;
  }
  .monitoring-ad .monitoring-list li .badge-icon .badge {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
  }
  </style>
</head>
<body id="buildingJobProcessList">
  <article class="monitoring-ad">
    <div class="tab">
      <a class="on"><span>모니터링</span></a>
      <a><span>게첨</span></a>
    </div>
    <div class="cont-wrap">
      <div class="monitoring on">
        <ul class="monitoring-list" id="monitoringList">
        <li
          is="monitoring-item"
          v-for="(item, index) in items.details"
          v-bind:item="item"
          v-on:monitoring-detail="monitoringDetail(index)" v-cloak>
        </li>
      </ul>
      </div>
      <div class="ad" id="adCheckList">
        <ul class="building-shot">
          <li v-on:click="shot()" v-if="items.length > 0" v-cloak>
            <div class="title">
              <span v-if="items[0].building_file_url != 'null' " class="badge green">완료</span>
              <span v-else class="badge gray">미완료</span>
              <p>단지 대표이미지 촬영</p>
            </div>
          </li>
        </ul>
        <ul>
          <li
            is="ad-item"
            v-for="(item, index) in items"
            v-bind:item="item"
            v-on:ad-check-detail="adCheckDetail(index)"
            v-on:ad-view="adView(index)" v-cloak>            
          </li>
        </ul>
      </div>
    </div>
  </article>

  <script language="javascript" type="text/javascript">
  var buildingId = null;
  var buildingData = null;
  var selDate = null;
  var monitoringListVue = null;
  var adCheckListVue = null;
  $(document).ready(function(){
    callNative('toolBar', 'main', "");
    callNative("hideBottomActionBar");

    buildingId = $.urlParam("id");
    selDate = $.urlParam("date");
    //shotResult = JSON.stringify([{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"}]);

    var buildingRes = dbRowArray("SELECT * FROM building WHERE building_id='" + buildingId + "'");

    //var buildingRes = {"building_id":"1329","building_locate_id":"18424","building_name":"전농동아아파트","dong":"103동","unit_name":"1호기","building_locate_name":"전농동아아파트 103동 1호기","address":"서울시 동대문구 전농1동 645-3번지"};

    if (buildingRes) {
      buildingData = buildingRes;
    }

    $('.tab a').click(function() {
      var idx = $(this).index();

      $('.tab a').removeClass('on').eq(idx).addClass('on');
      $('.cont-wrap > div').removeClass('on').eq(idx).addClass('on');
    });
    
    callNative('setTitle', buildingData.building_name);
    callNative("bottomActionBar", "jobStart");
    monitoringList();
    adCheckList();

    window.localStorage.setItem("noQrData", "");
  });

  function monitoringList() {
    var monitoringData = dbRowArray("SELECT * FROM monitoring_request mr WHERE date(mr.request_date) = date('" + selDate + "') AND mr.building_id='" + buildingData.building_id + "'");
    if (monitoringData) {
      monitoringData.details = [];
      var monitoringBuildingData = dbResultArray("SELECT bl.*, CASE WHEN p.processing_date !='' THEN 'Y' ELSE 'N' END AS processing_flag, p.processing_file_url, p.processing_date, p.qr_flag, p.monitoring_request_id, CASE WHEN ar.request_type_code_ids !='' THEN 'Y' ELSE 'N' END AS as_request_flag FROM building_locate bl LEFT JOIN processing p ON bl.building_id=p.building_id AND bl.building_locate_id=p.building_locate_id AND p.monitoring_request_id='" + monitoringData.monitoring_request_id + "' LEFT JOIN as_request ar  ON bl.building_id=ar.building_id AND bl.building_locate_id=ar.building_locate_id AND date(ar.request_date) = date('" + selDate + "') WHERE bl.building_id='" + buildingData.building_id + "' AND bl.building_locate_id IN (" + monitoringData.building_locate_ids + ")");
      if (monitoringBuildingData) {
        monitoringData.details = monitoringBuildingData;
      }
    }
    console.log(JSON.stringify(monitoringData));

    if (monitoringListVue === null) {

      Vue.component(
        'monitoring-item',
        {
          template: '<li v-on:click="$emit(\'monitoring-detail\')">\
                      <a>\
                        <span class="badge-icon">\
                          <span class="badge red" v-if="item.qr_flag == \'N\'">QR미인식</span>\
                          <span class="badge green" v-if="item.qr_flag == \'Y\' && item.processing_flag == \'Y\' && item.as_request_flag == \'N\'">완료</span>\
                          <span class="badge blue" v-if="item.as_request_flag == \'Y\'">AS요청</span>\
                          </span>\
                        <span class="img"><img v-bind:src="item.processing_file_url"></span>\
                        <span class="location">\
                          <span>{{ item.dong }}</span>\
                          <span>{{ item.unit_name }}</span>\
                        </span>\
                      </a>\
                    </li>',
          props: ['item']
        }
      );

      monitoringListVue = new Vue({
        el: '#monitoringList',
        data: {
          items: []
        },
        methods: {
          monitoringDetail: function(idx) {
            var items = this.items.details;
            var row = items[idx];
            console.log(JSON.stringify(items));
            var buildingLocateId = row.building_locate_id;
            var monitoringRequestId = row.monitoring_request_id;

            if (row.processing_flag == 'N') {
              location.href = "noQrProcess.html?id=" + buildingLocateId;
            } else {
              // 모니터링/광고촬영 처리 리스트로 이동한다.
              callNative('newWebView', "buildingJobProcessDetail.html?mode=monitoring" + "&id=" + buildingLocateId + "&jobId=" + monitoringRequestId);
            }
          }
        }
      });
    }
    
    monitoringListVue.items = monitoringData;
  }

  function adCheckList() {
    var adCheckData = dbResultArray("SELECT acr.*, c.codename FROM ad_check_request acr LEFT JOIN code c ON c.code_id = acr.return_code_id WHERE date(acr.request_date) = date('" + selDate + "') AND acr.building_id='" + buildingData.building_id + "'");

    console.log(JSON.stringify(adCheckData));
    
    if (adCheckData) {
      $.each(adCheckData, function(index, item){
        adCheckData[index].details = [];
        var processingData = dbResultArray("SELECT p.*, bl.dong, bl.unit_name FROM processing p LEFT JOIN building_locate bl ON p.building_locate_id=bl.building_locate_id WHERE p.ad_check_building_id='" + adCheckData[index].ad_check_building_id + "' AND p.building_id='" + buildingData.building_id + "'");
        if (processingData) {
          adCheckData[index].details = processingData;
        }
      });
    }
    console.log(JSON.stringify(adCheckData));

    if (adCheckListVue === null) {

      Vue.component(
        'ad-item',
        {
          template: '<li v-on:click="$emit(\'ad-check-detail\')">\
                      <div>\
                        <span v-if="item.processing_flag === \'N\'" class="badge gray">미완료</span>\
                        <span v-else-if="item.processing_flag === \'Y\'" class="badge green">완료</span>\
                        <span v-else-if="item.processing_flag === \'R\'" class="badge red">반려</span>\
                        <p>광고촬영</p>\
                        <p v-if="item.processing_flag === \'R\'" class="red">반려유형 : {{ item.codename }} </p>\
                        <a class="btn" v-on:click.stop="$emit(\'ad-view\')"></a>\
                      </div>\
                      <div>\
                        <p>&lt;{{ item.ad_name }}&gt;</p>\
                        <ul class="monitoring-list" v-if="item.details.length > 0">\
                          <li v-for="detail in item.details">\
                            <a>\
                              <span class="img"><img v-bind:src="detail.processing_file_url"></span>\
                              <span class="location">\
                                <span>{{ detail.dong }}</span>\
                                <span>{{ detail.unit_name }}</span>\
                              </span>\
                            </a>\
                          </li>\
                        </ul>\
                      </div>\
                    </li>',
          props: ['item']
        }
      );

      adCheckListVue = new Vue({
        el: '#adCheckList',
        data: {
          items: []
        },
        methods: {
          shot: function(idx) {
            var items = this.items;
            var row = items[0];

            if (row.building_file_url != 'null') {
              window.localStorage.setItem("shot_result", "");
              location.href = "buildingJobProcess.html?mode=building&id=" + buildingId;
            } else {
              callNative('camera', 'building', "단지 대표이미지용\n사진을 촬영해주세요.", {take_count: 1, title: buildingData.building_name, address: buildingData.address});
            }
          },
          adCheckDetail: function(idx) {
            var items = this.items;
            var row = items[idx];
            console.log(JSON.stringify(items));
            var buildingId = row.building_id;
            var adCheckBuildingId = row.ad_check_building_id;
            
            if (row.processing_flag == 'N') {
              var buildingLocateId = null;
              $.each(monitoringListVue.items.details, function( index, el ) {
                if (el.processing_flag == 'N' && buildingLocateId === null) buildingLocateId = el.building_locate_id;
              });

              if (buildingLocateId) {
                location.href = "noQrProcess.html?id=" + buildingLocateId;
              }
            } else {
              // 모니터링/광고촬영 처리 리스트로 이동한다.
              callNative('newWebView', "buildingJobProcessDetail.html?mode=ad" + "&id=" + buildingId + "&jobId=" + adCheckBuildingId);
            }
          },
          adView: function(idx) {
            var items = this.items;
            var row = items[idx];
            console.log('adView', JSON.stringify(row));
            callNative('downloadMedia', row.ad_name, row.ad_type, row.ad_url);
          }
        }
      });
    }
    
    adCheckListVue.items = adCheckData;
  }

  function cameraResult(param, result) {
    console.log(result);
    
    // 촬영 타입과 결과이미지를 저장후 이동한다.
    var mode = param;
    window.localStorage.setItem("shot_result", result);
    location.href = "buildingJobProcess.html?mode=building&id=" + buildingId;
  }

  function qrScanResult(result) {
    // 모니터링, 광고촬영에 있는지 체크
    var qrCode = $.urlParam("cd", result);
    if (qrCode === null) {
      callNative("toastMessage", "인식이 불가능한 QR코드 입니다.");
      return;
    }

    qrCode = "T00012";
    var jobBuildingData = dbRowArray("SELECT bl.building_locate_id, b.building_id, b.building_name, b.address FROM building_locate bl JOIN building b ON bl.building_id=b.building_id WHERE qr_serial_code = '" + qrCode + "' AND b.building_id='" + buildingId + "'");
    if (!jobBuildingData) {
      callNative("toastMessage", "단지내 매체가 아닙니다.");
      return;
    }

    var buildingLocateId = jobBuildingData.building_locate_id;
    location.href = "buildingJobList.html?id=" + buildingLocateId;
  }
  </script>

</body>
</html>