<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="css/swiper.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="js/swiper.js"></script>
  <script type="text/javascript" src="js/vue-awesome-swiper.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
  <style type="text/css">
    .return .slider .swiper-pagination {
      line-height: 2.4;
    }
  </style>
</head>
<body style="background: #000" id="buildingJobProcess">
  <article class="return" style="padding: 0 0;" id="shotListSlider">
    <div class="slider" v-if="mode == 'ad'" v-on:height="height" v-on:shotList="shotList" v-cloak>
      <swiper ref="awesomeSwiper" :options="swiperOption">
        <!-- slides -->
        <swiper-slide v-for="(item, index) in shotList" v-bind:key="item.id"><img v-bind:src="item.filepath" v-bind:height="height"></swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </div>
    <div class="img" v-else style="text-align: center;" v-cloak>
      <img v-for="(item, index) in shotList" v-bind:src="item.filepath" v-bind:height="height">
    </div>
  </article>

  <script language="javascript" type="text/javascript">
  var agentCode = null;
  var agentData = null;
  var viewMode = null;
  var mode = null;
  var buildingId = null;
  var buildingLocateId = null;
  var jobId = null;
  var shotResult = null;
  var buildingData = null;
  var jobData = null;
  var shotListSliderVue = null;
  var titleTxt = null;
  var noQrData = null;
  var selDate = null;
  var nowDate = null;
  var uploadData = {};
  $(document).ready(function(){
    callNative('toolBar', 'main', "");
    callNative("hideBottomActionBar");
    
    agentCode = window.localStorage.getItem("agent_code");
    noQrData = window.localStorage.getItem("noQrData");
    nowDate = getNowDate();

    mode = $.urlParam("mode");
    if (mode == "building") {
      buildingId = $.urlParam("id");
      selDate = $.urlParam("date");
    } else {
      buildingLocateId = $.urlParam("id");
    }
    jobId = $.urlParam("jobId");
    shotResult = window.localStorage.getItem("shot_result");

    agentData = dbRowArray("SELECT * FROM agent WHERE agent_code='" + agentCode + "'");
    //shotResult = JSON.stringify([{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"}]);
    if (mode =='building') {
      var buildingRes = dbRowArray("SELECT * FROM building WHERE building_id='" + buildingId + "'");
    } else {
      var buildingRes = dbRowArray("SELECT b.building_id,bl.building_locate_id, b.building_name, bl.dong, bl.unit_name, b.building_name||' '||bl.dong||' '||bl.unit_name AS building_locate_name, b.address, bl.machine_code FROM building_locate bl JOIN building b ON bl.building_id=b.building_id WHERE bl.building_locate_id='" + buildingLocateId + "'");
    }

    //var buildingRes = [{"building_id":"1329","building_locate_id":"18424","building_name":"전농동아아파트","dong":"103동","unit_name":"1호기","building_locate_name":"전농동아아파트 103동 1호기","address":"서울시 동대문구 전농1동 645-3번지"}]

    if (buildingRes) {
      buildingData = buildingRes;
    }
    

    if (mode =='monitoring') {
      // 모니터링 리스트 가져옴
      jobData = dbRowArray("SELECT * FROM monitoring_request WHERE  monitoring_request_id='" + jobId + "'");

      titleTxt = buildingData.building_locate_name;
    } else if (mode =='ad') {
      // 게첨 리스트 가져옴
      jobData = dbRowArray("SELECT * FROM ad_check_request WHERE  ad_check_building_id='" + jobId + "'");

      titleTxt = jobData.ad_name;
    } else if (mode =='building') {
      if (shotResult) {
        viewMode = "shot";
      } else {
        viewMode = "info";
        jobData = dbRowArray("SELECT * FROM ad_check_request WHERE building_id='" + buildingId + "' AND request_date='" + selDate + "' AND building_file_url != '' LIMIT 1");
        if (jobData) {
          shotResult = JSON.stringify([{"filepath": jobData.building_file_url }]);
        }
      }
      titleTxt = buildingData.building_name;
    }
    
    callNative('setTitle', titleTxt);

    if (mode == "monitoring") {
      // 모니터링 촬영촬영용 설정을 한다.
      callNative('bottomActionBar', 'retakeAndAsAndConfirm', mode);
      var h = $( window ).height();
      $(".return .img img").attr("height", h);

    } else if (mode == "building") {
      if (selDate == nowDate) {
        // 단지 대표 이미지 촬영용 설정을 한다.
        callNative('bottomActionBar', 'retakeAndConfirm', mode);
      } else {
        callNative('bottomActionBar', 'confirm');
      }
      var h = $( window ).height();
    } else if (mode == "ad") {
      // 광고촬영용 설정을 한다.
      callNative('bottomActionBar', 'retakeAndConfirm', mode);
      var h = $( window ).height();
    }

    $( window ).resize(function() {
      if (mode == "ad") {
        var ht = $( window ).height();
        if (shotListSliderVue) shotListSliderVue.height = ht;
      } else {
        var ht = $( window ).height();
        $(".return .img img").attr("height", ht);
      }
    });

    if (mode == "ad") {
      Vue.use(VueAwesomeSwiper);

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[],
          swiperOption: {
            pagination: {
              el: '.swiper-pagination',
              type: 'fraction',
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev'
            }
          },
        }
      });
    } else {

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[]
        }
      });
    }

    shotListSliderVue.shotList = $.parseJSON(shotResult);
  });

  function paramData() {
    if (mode == "monitoring") {
      return ["모니터링용\n매체사진을 촬영해주세요.", {take_count: 1, title: titleTxt, address: buildingData.address}];
    } else if (mode == "ad") {
      shotListSliderVue.$refs.awesomeSwiper.swiper.slideTo(0);
      return ["광고게첨용\n매체사진을 5장 촬영해주세요.", {take_count: 5, title: titleTxt, address: buildingData.address}];
    } else if (mode == "building") {
      return ["단지 대표이미지용\n사진을 촬영해주세요.", {take_count: 1, title: titleTxt, address: buildingData.address}];
    }
  }

  function cameraResult(param, result) {
    // 촬영 타입과 결과이미지를 저장후 이동한다.
    viewMode = "shot";
    window.localStorage.setItem("shot_result", result);
    shotResult = window.localStorage.getItem("shot_result");
    shotListSliderVue.shotList = $.parseJSON(shotResult);
  }

  function asRequest() {
    //AS요청으로 이동한다.
    location.href = "asRequest.html?id=" + buildingLocateId + "&jobId=" + jobId;
  }

  function dataSaveProcess() {

    console.log("dataSaveProcess!!!");

    if(mode == "building" && viewMode == "info") {
      location.href = "buildingJobProcessList.html?id=" + buildingId + "&date=" + getNowDate();
      return;
    }

    uploadData = {};

    uploadData["fileData"] = $.map( $.parseJSON(shotResult), function( el, index ) {
      let arrEl = el.filepath.split("fmk_picture/");
      let filename = arrEl[1];
      return {filename: filename};
    });
    uploadData["data"] = {};

    let param = {};
    var updateDataUrl = null;

    if (mode == "building") {
      param["assignment_agent_code"] = agentCode;
      param["building_id"] = buildingData.building_id;
      param["due_date"] = getNowDate();

      uploadData['data']['sch_data'] = param;
      updateDataUrl = '/Bmm_api/uploadAdCheckBuildingProcessing';
    } else {
      param["processing_agent_code"] = agentCode;
      param["building_id"] = buildingData.building_id;
      param["building_locate_id"] = buildingData.building_locate_id;
      param["dong"] = buildingData.dong;
      param["unit_name"] = buildingData.unit_name;
      param["machine_code"] = buildingData.machine_code;
      param["processing_date"] = getNowDate();
      if (noQrData) {
        var noQrParam = $.parseJSON(noQrData);
        if (buildingData.building_locate_id == noQrParam["building_locate_id"]) {
          param["qr_flag"] = noQrParam["qr_flag"];
          param["no_qr_type_code_id"] = noQrParam["no_qr_type_code_id"];
          param["no_qr_desc"] = noQrParam["no_qr_desc"];
        } else {
          param["qr_flag"] = "Y";
        }
      } else {
        param["qr_flag"] = "Y";
      }

      if (mode == "monitoring") {
        param["bmm_monitoring_request_id"] = jobData.monitoring_request_id;
        uploadData['data']['id'] = jobData.monitoring_request_id;
      } else if (mode == "ad") {
        param["bmm_ad_check_building_id"] = jobData.ad_check_building_id;
        uploadData['data']['id'] = jobData.ad_check_building_id;
      }
      updateDataUrl = '/Bmm_api/uploadProcessing';
      
      uploadData['data']['in_data'] = param;


      if (noQrData) {
        let asParam = {};
        asParam["machine_code"] = buildingData.machine_code;
        asParam["building_id"] = buildingData.building_id;
        asParam["building_name"] = buildingData.building_name;
        asParam["address"] = buildingData.address;
        asParam["building_locate_id"] = buildingData.building_locate_id;
        asParam["dong"] = buildingData.dong;
        asParam["unit_name"] = buildingData.unit_name;
        asParam["request_date"] = getNowDate();
        asParam["request_type_code_ids"] = 2815;
        asParam["request_desc"] = "[QR코드 미인식 - " + noQrParam['no_qr_type_code_name'] + "]\r\n" +  noQrParam['no_qr_desc'];
        asParam["request_name"] = agentData.agent_name;
        asParam["request_mobile"] = agentData.mobile;
        asParam["request_agent_code"] = agentCode;

        uploadData['data']['as_data'] = asParam;
      }
    }
    uploadData['data']['mode'] = mode;
    uploadData['url'] = BASE_URL + updateDataUrl;

    console.log(uploadData);
    dataLocalSave();
    //callNative('uploadData', uploadData);
  }

  function uploadDataCallBack(resCode, data) {
    if (parseFloat(resCode) === 200) {
      var result = parseResult(data);
      if (result.code == "success") {
        callNative("toastMessage", "저장이 완료되었습니다.");
        // 데이터를 동기화하여 받는다.
        dataSync(agentCode, false);
      } else {
        dataLocalSave();
      }
    } else {
      dataLocalSave();
    }
  }

  function dataLocalSave() {
    console.log('failed');

    if (mode == "building") {
    } else {
      $.each( $.parseJSON(shotResult), function(idx, el) {
        let uploadInData = uploadData['data']['in_data'];
        const tempSaveProcData = uploadInData;
        tempSaveProcData['processing_file_url'] = el.filepath;
        console.log(tempSaveProcData);

        var addQry = "";
        if (mode == "monitoring") {
          if (idx == 0) {
            tempSaveProcData['monitoring_request_id'] = tempSaveProcData['bmm_monitoring_request_id'];
            delete tempSaveProcData['bmm_monitoring_request_id'];
          }

          addQry = " building_locate_id='" + tempSaveProcData['building_locate_id'] + "' AND monitoring_request_id='" + tempSaveProcData['monitoring_request_id']+ "' ";
        } else if (mode == "ad") {
          if (idx == 0) {
            tempSaveProcData['ad_check_building_id'] = tempSaveProcData['bmm_ad_check_building_id'];
            delete tempSaveProcData['bmm_ad_check_building_id'];  
          }
          addQry = " building_id='" + tempSaveProcData['building_id'] + "' AND ad_check_building_id='" + tempSaveProcData['ad_check_building_id']+ "' ";
        }

        if (idx == 0) {
          dbSql("DELETE FROM temp_save_processing WHERE " + addQry + " AND processing_agent_code='" + tempSaveProcData['processing_agent_code'] + "'");
        }

        dbInsert("temp_save_processing", tempSaveProcData);

        let saveProcData = {};

        $.each(uploadData['data']['in_data'], function(index, ele){
          if (index != 'processing_agent_code' && index != 'dong' && index != 'unit_name') {
            saveProcData[index] = ele;
          }
        });

        //delete saveProcData['processing_agent_code'];
        //delete saveProcData['dong'];
        //delete saveProcData['unit_name'];
        console.log(saveProcData);

        if (idx == 0) {
          dbSql("DELETE FROM processing WHERE " + addQry);
        }

        dbInsert("processing", saveProcData);

        if (mode == "monitoring") {
          var chkProcRow = dbRowArray("SELECT count(*) AS cnt FROM processing WHERE building_id='" + saveProcData['building_id'] + "' AND monitoring_request_id='" + saveProcData['monitoring_request_id'] + "'");

          var procFlag = (jobData['machine_cnt'] == chkProcRow['cnt'])?"Y":"N";

          dbSql("UPDATE monitoring_request SET processing_flag= '" + procFlag + "', processing_date='" + nowDate + "' WHERE building_id='" + saveProcData['building_id'] + "' AND monitoring_request_id='" + saveProcData['monitoring_request_id'] + "'");

          if (noQrData) {
            var tempSaveAsData = uploadData['data']['as_data'];
            tempSaveAsData['request_file_url'] = el.filepath;
            console.log(tempSaveAsData);

            dbSql("DELETE FROM temp_save_as_request WHERE building_locate_id = '" + tempSaveAsData['building_locate_id'] + "' AND request_date='" + nowDate + "' AND request_agent_code='" + tempSaveAsData['request_agent_code'] + "'");

            dbInsert("temp_save_as_request", tempSaveAsData);

            var saveAsData = tempSaveAsData;
            saveAsData['processing_flag'] = "N";
            delete saveAsData['building_name'];
            delete saveAsData['address'];
            delete saveAsData['dong'];
            delete saveAsData['unit_name'];
            delete saveAsData['request_name'];
            delete saveAsData['request_mobile'];
            delete saveAsData['request_agent_code'];
            console.log(saveAsData);

            dbSql("DELETE FROM as_request WHERE building_locate_id = '" + saveAsData['building_locate_id'] + "' AND request_date='" + nowDate + "'");

            dbInsert("as_request", saveAsData);
          }
        } else if (mode =="ad") {
          if (idx == 0) {
            dbSql("UPDATE ad_check_request SET processing_flag= 'Y' WHERE ad_check_building_id='" + saveProcData['ad_check_building_id'] + "'");
          }
        }
      });
    }
    return;
    callNative("toastMessage", "서버 저장에 실패하였습니다.\n내부로 저장합니다.");
    dataSaveComplete();
  }

  function dataUpdateCallBack() {
    dataSaveComplete();
  }

  function dataSaveComplete() {
    window.localStorage.setItem("shot_result", "");
    if (mode == "building") {
      location.href = "buildingJobProcessList.html?id=" + buildingId + "&date=" + getNowDate();
    } else {
      // 작업리스트로 이동한다.
      var buildingLocateId = buildingData.building_locate_id;
      location.href = "buildingJobList.html?id=" + buildingLocateId;
    }
  }

  </script>

</body>
</html>
