<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="css/swiper.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="js/swiper.js"></script>
  <script type="text/javascript" src="js/vue-awesome-swiper.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
  <style type="text/css">
    .return .slider .swiper-pagination {
      line-height: 2.4;
    }
  </style>
</head>


<body style="background: #000" id="buildingJobProcessDetail">
  <article class="return" style="padding: 0 0;" id="shotListSlider">
    <div class="slider" v-if="mode == 'ad'" v-on:height="height" v-on:shotList="shotList" v-cloak>
      <swiper ref="awesomeSwiper" :options="swiperOption">
        <!-- slides -->
        <swiper-slide v-for="(item, index) in shotList" v-bind:key="item.id"><img v-bind:src="item.filepath" v-bind:height="height"></swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </div>
    <div class="img" v-else style="text-align: center;" v-cloak>
      <img v-for="(item, index) in shotList" v-bind:src="item.filepath" v-bind:height="height">
    </div>
  </article>

  <script language="javascript" type="text/javascript">
  var mode = null;
  var id = null;
  var jobId = null;
  var shotResult = [];
  var buildingData = null;
  var jobData = null;
  var shotListSliderVue = null;
  var titleTxt = null;
  $(document).ready(function(){
      callNative('toolBar', 'popup', "");
      callNative("hideBottomActionBar");

      mode = $.urlParam("mode");
      id = $.urlParam("id");
      jobId = $.urlParam("jobId");

      if (mode =='monitoring') {
        var buildingRes = dbRowArray("SELECT b.building_id,bl.building_locate_id, b.building_name, bl.dong, bl.unit_name, b.building_name||' '||bl.dong||' '||bl.unit_name AS building_locate_name, b.address FROM building_locate bl JOIN building b ON bl.building_id=b.building_id WHERE bl.building_locate_id='" + id + "'");
      } else if (mode =='ad') {
        var buildingRes = dbRowArray("SELECT * FROM building WHERE building_id='" + id + "'");
      }

      if (buildingRes) {
        buildingData = buildingRes;
      }
      
      titleTxt = buildingData.building_locate_name;

      if (mode =='monitoring') {
        // 모니터링 리스트 가져옴
        jobData = dbResultArray("SELECT * FROM processing WHERE  monitoring_request_id='" + jobId + "'");
      } else if (mode =='ad') {
        // 게첨 리스트 가져옴
        jobData = dbResultArray("SELECT * FROM processing WHERE  ad_check_building_id='" + jobId + "'");
        var jobRequestData = dbRowArray("SELECT * FROM ad_check_request WHERE ad_check_building_id='" + jobId + "'");

        titleTxt = jobRequestData.ad_name;
      }

      $.each(jobData, function(index, item){       
        shotResult.push({filepath: item.processing_file_url});
      });
      
      callNative('setTitle', titleTxt);

    if (mode == "monitoring") {
      var h = $( window ).height();
      $(".return .img img").attr("height", h);

    } else if (mode == "building") {
      var h = $( window ).height();
    } else if (mode == "ad") {
      var h = $( window ).height();
    }

     callNative('bottomActionBar', 'confirm');

    $( window ).resize(function() {
      if (mode == "ad") {
        var ht = $( window ).height();
        if (shotListSliderVue) shotListSliderVue.height = ht;
      } else {
        var ht = $( window ).height();
        $(".return .img img").attr("height", ht);
      }
    });

    if (mode == "ad") {
      Vue.use(VueAwesomeSwiper);

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[],
          swiperOption: {
            pagination: {
              el: '.swiper-pagination',
              type: 'fraction',
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev'
            }
          },
        }
      });
    } else {

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[]
        }
      });
    }

    shotListSliderVue.shotList = shotResult;
  });

  function confirm() {
    NativeCallback('close');
  }
  </script>

</body>
</html>
