<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="css/swiper.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="js/swiper.js"></script>
  <script type="text/javascript" src="js/vue-awesome-swiper.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
  <style type="text/css">
    .return .slider .swiper-pagination {
      line-height: 2.4;
    }    
    .return .content > p.blue {
      background: #4B4BF2;
    }

    .return .content {
      margin: 0.625rem;
    }
  </style>
</head>


<body style="background: #000" id="buildingJobProcessDetail">
  <article class="return" style="padding: 0 0;" id="shotListSlider">
    <div class="slider" v-if="mode == 'ad'" v-on:height="height" v-on:shotList="shotList" v-cloak>
      <swiper ref="awesomeSwiper" :options="swiperOption">
        <!-- slides -->
        <swiper-slide v-for="(item, index) in shotList" v-bind:key="item.id"><img v-bind:src="item.filepath" v-bind:height="height"></swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </div>
    <div class="img" v-else style="text-align: center;" v-cloak>
      <img v-for="(item, index) in shotList" v-bind:src="item.filepath" v-bind:height="height">
    </div>
    <div class="content" v-if="mode == 'monitoring' && issue != ''" v-cloak>
      <p class="blue">AS 요청</p>
      <div class="table">
        <table>
          <tr>
            <th>접수일</th>
            <td>{{ issue.request_date }}</td>
          </tr>
          <tr>
            <th>AS 유형</th>
            <td>{{ issue.request_type_code_names }}</td>
          </tr>
          <tr>
            <th>AS 내용</th>
            <td>
              <pre>{{ issue.request_desc }}</pre>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="content" v-if="mode == 'ad' && issue != ''" v-cloak>
      <p>반려</p>
      <div class="table">
        <table>
          <tr>
            <th>반려 유형</th>
            <td>{{ issue.return_code_name }}</td>
          </tr>
          <tr>
            <th>반려 사유</th>
            <td>
              <pre>{{ issue.return_desc }}</pre>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </article>

  <script language="javascript" type="text/javascript">
  var mode = null;
  var id = null;
  var jobId = null;
  var shotResult = [];
  var buildingData = null;
  var jobData = null;
  var issueData = null;
  var jobRequestData = null;
  var asRequestData = null;
  var shotListSliderVue = null;
  var titleTxt = null;
  var issueHeight = 0;
  var selDate = null;
  $(document).ready(function(){
      callNative('toolBar', 'popup', "");
      callNative("hideBottomActionBar");

      mode = $.urlParam("mode");
      id = $.urlParam("id");
      jobId = $.urlParam("jobId");
      selDate = $.urlParam("date");

      if (mode =='monitoring') {
        var buildingRes = dbRowArray("SELECT b.building_id,bl.building_locate_id, b.building_name, bl.dong, bl.unit_name, b.building_name||' '||bl.dong||' '||bl.unit_name AS building_locate_name, b.address FROM building_locate bl JOIN building b ON bl.building_id=b.building_id WHERE bl.building_locate_id='" + id + "'");
      } else if (mode =='ad') {
        var buildingRes = dbRowArray("SELECT * FROM building WHERE building_id='" + id + "'");
      }

      if (buildingRes) {
        buildingData = buildingRes;
      }
      
      titleTxt = buildingData.building_locate_name;

      if (mode =='monitoring') {
        // 모니터링 리스트 가져옴
        jobData = dbResultArray("SELECT * FROM processing WHERE building_locate_id='" + id + "' AND monitoring_request_id='" + jobId + "'");

        // AS가 있는지 가져온다
        asRequestData = dbRowArray("SELECT * FROM as_request WHERE building_locate_id='" + buildingData.building_locate_id + "' AND request_date='" + selDate + "' LIMIT 1");
        if (asRequestData) {
          var codeRow = dbRowArray("SELECT group_concat(codename) AS codename FROM code WHERE code_id IN (" + asRequestData['request_type_code_ids'] + ")");
          asRequestData['request_type_code_names'] = codeRow['codename'];
          issueData = asRequestData;
        }
      } else if (mode =='ad') {
        // 게첨 리스트 가져옴
        jobData = dbResultArray("SELECT * FROM processing WHERE  ad_check_building_id='" + jobId + "'");
        jobRequestData = dbRowArray("SELECT * FROM ad_check_request WHERE ad_check_building_id='" + jobId + "'");
        if (jobRequestData) {
          var codeRow = dbRowArray("SELECT codename FROM code WHERE code_id = '" + jobRequestData['return_code_id'] + "'");
          jobRequestData['return_code_name'] = codeRow['codename']; 
          issueData = jobRequestData;
        }

        titleTxt = jobRequestData.ad_name;
      }

      if (issueData) {
        issueHeight = 100;
      }

      $.each(jobData, function(index, item){       
        shotResult.push({filepath: item.processing_file_url});
      });
      
      callNative('setTitle', titleTxt);

    if (mode == "monitoring") {
      var h = $( window ).height() - issueHeight;
      $(".return .img img").attr("height", h);

    } else if (mode == "building") {
      var h = $( window ).height() - issueHeight;
    } else if (mode == "ad") {
      var h = $( window ).height() - issueHeight;
    }

     callNative('bottomActionBar', 'confirm');

    $( window ).resize(function() {
      if (mode == "ad") {
        var ht = $( window ).height() - issueHeight;
        if (shotListSliderVue) shotListSliderVue.height = ht;
      } else {
        var ht = $( window ).height() - issueHeight;
        $(".return .img img").attr("height", ht);
      }
    });

    if (mode == "ad") {
      Vue.use(VueAwesomeSwiper);

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[],
          swiperOption: {
            pagination: {
              el: '.swiper-pagination',
              type: 'fraction',
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev'
            }
          },
          issue: ""
        }
      });
    } else {

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[],
          issue: ""
        }
      });
    }

    shotListSliderVue.shotList = shotResult;
    shotListSliderVue.issue = issueData;
  });

  function confirm() {
    NativeCallback('close');
  }
  </script>

</body>
</html>
