<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="css/swiper.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="js/swiper.js"></script>
  <script type="text/javascript" src="js/vue-awesome-swiper.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
  <style type="text/css">
    .return .slider .swiper-pagination {
      line-height: 2.4;
    }
  </style>
</head>
<body style="background: #000" id="buildingJobProcess">
  <article class="return" style="padding: 0 0;" id="shotListSlider">
    <div class="slider" v-if="mode == 'ad'" v-on:height="height" v-on:shotList="shotList" v-cloak>
      <swiper ref="awesomeSwiper" :options="swiperOption">
        <!-- slides -->
        <swiper-slide v-for="(item, index) in shotList" v-bind:key="item.id"><img v-bind:src="item.filepath" v-bind:height="height"></swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </div>
    <div class="img" v-else style="text-align: center;" v-cloak>
      <img v-for="(item, index) in shotList" v-bind:src="item.filepath" v-bind:height="height">
    </div>
  </article>

  <script language="javascript" type="text/javascript">
  var agentCode = null;
  var mode = null;
  var buildingId = null;
  var buildingLocateId = null;
  var jobId = null;
  var shotResult = null;
  var buildingData = null;
  var jobData = null;
  var shotListSliderVue = null;
  var titleTxt = null;
  $(document).ready(function(){
    callNative('toolBar', 'main', "");
    callNative("hideBottomActionBar");
    
    agentCode = window.localStorage.getItem("agent_code");

    mode = $.urlParam("mode");
    if (mode == "building") {
      buildingId = $.urlParam("id");
    } else {
      buildingLocateId = $.urlParam("id");
    }
    jobId = $.urlParam("jobId");
    shotResult = window.localStorage.getItem("shot_result");
    //shotResult = JSON.stringify([{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"},{"filepath":"./images/return-img.png"}]);

    var buildingRes = dbRowArray("SELECT b.building_id,bl.building_locate_id, b.building_name, bl.dong, bl.unit_name, b.building_name||' '||bl.dong||' '||bl.unit_name AS building_locate_name, b.address, bl.machine_code FROM building_locate bl JOIN building b ON bl.building_id=b.building_id WHERE bl.building_locate_id='" + buildingLocateId + "'");

    //var buildingRes = [{"building_id":"1329","building_locate_id":"18424","building_name":"전농동아아파트","dong":"103동","unit_name":"1호기","building_locate_name":"전농동아아파트 103동 1호기","address":"서울시 동대문구 전농1동 645-3번지"}]

    if (buildingRes) {
      buildingData = buildingRes;
    }
    
    titleTxt = buildingData.building_locate_name;

    if (mode =='monitoring') {
      // 모니터링 리스트 가져옴
      jobData = dbRowArray("SELECT * FROM monitoring_request WHERE  monitoring_request_id='" + jobId + "'");
    } else if (mode =='ad') {
      // 게첨 리스트 가져옴
      jobData = dbRowArray("SELECT * FROM ad_check_request WHERE  ad_check_building_id='" + jobId + "'");

      titleTxt = jobData.ad_name;
    }
    
    callNative('setTitle', titleTxt);

    if (mode == "monitoring") {
      // 모니터링 촬영촬영용 설정을 한다.
      callNative('bottomActionBar', 'retakeAndAsAndConfirm', mode);
      var h = $( window ).height();
      $(".return .img img").attr("height", h);

    } else if (mode == "building") {
      // 단지 대표 이미지 촬영용 설정을 한다.
      callNative('bottomActionBar', 'retakeAndConfirm', mode);
      var h = $( window ).height();
    } else if (mode == "ad") {
      // 광고촬영용 설정을 한다.
      callNative('bottomActionBar', 'retakeAndConfirm', mode);
      var h = $( window ).height();
    }

    $( window ).resize(function() {
      if (mode == "ad") {
        var ht = $( window ).height();
        if (shotListSliderVue) shotListSliderVue.height = ht;
      } else {
        var ht = $( window ).height();
        $(".return .img img").attr("height", ht);
      }
    });

    if (mode == "ad") {
      Vue.use(VueAwesomeSwiper);

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[],
          swiperOption: {
            pagination: {
              el: '.swiper-pagination',
              type: 'fraction',
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev'
            }
          },
        }
      });
    } else {

      shotListSliderVue = new Vue({
        el: '#shotListSlider',
        data: {
          mode: mode,
          height: h,
          shotList:[]
        }
      });
    }

    shotListSliderVue.shotList = $.parseJSON(shotResult);
  });

  function paramData() {
    if (mode == "monitoring") {
      return ["모니터링용\n매체사진을 촬영해주세요.", {take_count: 1, title: titleTxt, address: buildingData.address}];
    } else if (mode == "ad") {
      shotListSliderVue.$refs.awesomeSwiper.swiper.slideTo(0);
      return ["광고게첨용\n매체사진을 5장 촬영해주세요.", {take_count: 5, title: titleTxt, address: buildingData.address}];
    } else if (mode == "building") {
      return ["단지 대표이미지용\n사진을 촬영해주세요.", {take_count: 1, title: titleTxt, address: buildingData.address}];
    }
  }

  function cameraResult(param, result) {
    // 촬영 타입과 결과이미지를 저장후 이동한다.
    window.localStorage.setItem("shot_result", result);
    shotResult = window.localStorage.getItem("shot_result");
    shotListSliderVue.shotList = $.parseJSON(shotResult);
  }

  function asRequest() {
    //AS요청으로 이동한다.
    location.href = "asRequest.html?mode=" + mode + "&id=" + buildingLocateId + "&jobId=" + jobId;
  }

  function dataSaveProcess() {

    console.log("dataSaveProcess!!!");

    let uploadData = {};

    uploadData['url'] = BASE_URL + '/Bmm_api/uploadProcessing';
    uploadData["fileData"] = $.map( shotListSliderVue.shotList, function( el, index ) {
      let arrEl = el.filepath.split("fmk_picture/");
      let filename = arrEl[1];
      return {filename: filename};
    });
    uploadData["data"] = {};

    let param = {};
    param["processing_agent_code"] = agentCode;
    param["building_id"] = buildingData.building_id;
    param["building_locate_id"] = buildingData.building_locate_id;
    param["dong"] = buildingData.dong;
    param["unit_name"] = buildingData.unit_name;
    param["machine_code"] = buildingData.machine_code;
    param["processing_date"] = getNowDate();
    param["bmm_monitoring_request_id"] = "";
    param["bmm_ad_check_building_id"] = "";

    if (mode == "monitoring") {
      param["bmm_monitoring_request_id"] = jobData.monitoring_request_id;
      uploadData['data']['id'] = jobData.monitoring_request_id;
    } else if (mode == "ad") {
      param["bmm_ad_check_building_id"] = jobData.ad_check_building_id;
      uploadData['data']['id'] = jobData.ad_check_building_id;
    }

    uploadData['data']['mode'] = mode;
    uploadData['data']['in_data'] = param;

    console.log(uploadData);

    callNative('uploadData', uploadData);
  }

  function uploadDataCallBack(resCode, data) {
    console.log(data);
    var result = parseResult(data);
    /*if (result.code == "success") {
      callNative("toastMessage", "저장이 완료되었습니다.");
      // 데이터를 동기화하여 받는다.
      dataSync(agentCode);
    } else {
      dataLocalSave();
    }*/
  }

  function dataLocalSave() {
    console.log('failed');
    callNative("toastMessage", "서버 저장에 실패하였습니다.\n내부로 저장합니다.");
    dataSaveComplete();
  }

  function dataUpdateCallBack() {
    dataSaveComplete();
  }

  function dataSaveComplete() {    
    window.localStorage.setItem("shot_result", "");
    // 작업리스트로 이동한다.
    var buildingLocateId = buildingData.building_locate_id;
    location.href = "buildingJobList.html?id=" + buildingLocateId;
  }

  </script>

</body>
</html>
