<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
</head>
<body class="login">
  <form onsubmit="return false;">
    <div class="form-box" id="login">
      <label>
        <p>ID</p>
        <input type="text" autocomplete="off" placeholder="아이디" v-model="userId">
      </label>
      <label>
        <p>PASSWORD</p>
        <input type="password" autocomplete="new-password" placeholder="비밀번호" v-model="userPasswd">
      </label>
    </div>
  </form>
  <p class="copyright">Copyright © Focusmedia Korea 2019. All right reserved.</p>
  <p class="copyright"><a href="old/login.html">old Version</a></p>

<script language="javascript" type="text/javascript">
var vueLogin = null;
var localAgentCode = window.localStorage.getItem("agent_code");
$(document).ready(function(){
  // if (localAgentCode) {
  //   location.href = "main.html";
  //   return;
  // }
  callNative("hideToolBar");
  callNative("bottomActionBar", "login");

  vueLogin = new Vue({
    el: '#login',
    data: {
      error: '',
      userId: 'AGE_190001',
      userPasswd: '1234'
    },
    methods: {
      sendPost: function (e) {
        this.error = '';
        if (!this.userId) {
          this.error = '아이디를 입력해 주세요.';
        } else {
          if (!this.userPasswd) {
           this.error = '비밀번호를 입력해 주세요.';
          }
        }
        
        if (this.error) {
          return false;
        }

        $.post(BASE_URL + '/Bmm_api/loginCheck', {
          agent_code: this.userId,
          agent_passwd: this.userPasswd
        })
        .done(function(data) {
          var result = parseResult(data);
          console.log(result.data);
          if (result.code == "success") {
            var userData  = result.data;
            var param = {};
            param['agent_code'] = userData.agent_code;
            param['agent_name'] = userData.agent_name;
            param['agent_type'] = userData.agent_type;
            param['job_area'] = userData.job_area;
            param['job_week'] = userData.job_week;
            param['mobile_code'] = callNative("deviceUniq");
            var res = dbMerge("agent", param);
            console.log(res);

            window.localStorage.setItem("agent_code", userData.agent_code);
            dataSync(userData.agent_code);
          } else {
            $.alert(result.data);
          }
        })
        .fail(function() {
          console.log('failed');
          $.alert("로그인에 실패하였습니다.\n인터넷연결상태를 확인해주세요.")
        });
      }
    }
  });
});

function login () {
  //console.log("function login()");
  vueLogin.sendPost();
}

function dataUpdateCallBack() {
  location.replace("main.html");
}
</script>

</body>
</html>