<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
</head>
<body class="login" style="height: auto;">
  <form onsubmit="return false;">
    <div class="form-box" id="login">
      <label>
        <p>ID</p>
        <input type="text" autocomplete="off" placeholder="아이디" v-model="userId">
      </label>
      <label>
        <p>PASSWORD</p>
        <input type="password" autocomplete="new-password" placeholder="비밀번호" v-model="userPasswd">
      </label>
      <div class="auto_login_check">
        <ul class="select">
          <li><a v-bind:class="{on : autoActive}" v-on:click="autoCheck">로그인 상태 유지</a></li>
        </ul>
      </div>
    </div>
  </form>
  <p class="copyright">Copyright © Focusmedia Korea 2019.<br>All right reserved.</p>
  <!--p class="copyright"><a href="old/login.html">old Version</a></p-->

  <script language="javascript" type="text/javascript">
  var vueLogin = null;
  var localAgentCode = window.localStorage.getItem("agent_code");
  var autoLoginCheck = window.localStorage.getItem("auto_login_check");
  var deviceUniq = null;
  $(document).ready(function(){

    deviceUniq = callNative("deviceUniq");

    if (localAgentCode && autoLoginCheck == 'Y') {
      var agentData = dbRowArray("SELECT * FROM agent WHERE agent_code='" + localAgentCode + "'");
      console.log(agentData);
      if (agentData) {       

        $.post(BASE_URL + '/Bmm_api/autoLoginCheck', {
          agent_code: agentData.agent_code,
          mobile_code: deviceUniq
        })
        .done(function(data) {
          var result = parseResult(data);
          console.log(result.data);
          if (result.code == "success") {
            var userData  = result.data;
            var param = {};
            param['agent_code'] = userData.agent_code;
            param['agent_name'] = userData.agent_name;
            param['mobile'] = userData.mobile;
            param['agent_type'] = userData.agent_type;
            param['job_area'] = userData.job_area;
            param['job_week'] = userData.job_week;
            param['mobile_code'] = deviceUniq;
            dbSql("DELETE FROM agent WHERE agent_code <> '" + userData.agent_code + "'");
            var res = dbMerge("agent", param);

            $.post(BASE_URL + '/Bmm_api/updateMobileCode', {
              agent_code: userData.agent_code,
              mobile_code: deviceUniq
            })
            .done(function(d) {
              var r = parseResult(d);
              console.log(r.d);
              if (r.code == "success") {
                window.localStorage.setItem("agent_code", userData.agent_code);
                window.localStorage.setItem("sel_date", getNowDate());
                location.replace("main.html");
              } else {
                //$.alert(r.d);
                callNative("toastMessage", r.d);
              }
            })
            .fail(function() {
              console.log('failed');
              var agentCode = agentData.agent_code;
              var mobileCode = deviceUniq;
              var agentRow = dbRowArray("SELECT * FROM agent WHERE agent_code='" + agentCode + "' AND mobile_code='" + mobileCode+ "'");
              if (agentRow) {
                window.localStorage.setItem("agent_code", agentCode);
                window.localStorage.setItem("sel_date", getNowDate());
                location.replace("main.html");
              } else {
                callNative("toastMessage", "로그인에 실패하였습니다.");
              }
            });


          } else {
            //$.alert(result.data);
            callNative("toastMessage", result.data);
          }
        })
        .fail(function() {
          console.log('failed');
          var agentCode = agentData.agent_code;
          var mobileCode = deviceUniq;
          var agentRow = dbRowArray("SELECT * FROM agent WHERE agent_code='" + agentCode + "' AND mobile_code='" + mobileCode+ "'");
          if (agentRow) {
            window.localStorage.setItem("agent_code", agentCode);
            window.localStorage.setItem("sel_date", getNowDate());
            location.replace("main.html");
          } else {
            callNative("toastMessage", "로그인에 실패하였습니다.");
          }
        });
        return;
      } else {
        window.localStorage.setItem("agent_code", "");
        window.localStorage.setItem("sel_date", getNowDate());
        localAgentCode = window.localStorage.getItem("agent_code");
      }
    }
    var setUserId = "";
    var currentAgentData = dbRowArray("SELECT * FROM agent LIMIT 1");
    console.log(currentAgentData);
    if (currentAgentData) {
      setUserId = currentAgentData.agent_code;
    }

    callNative("hideToolBar");
    callNative("bottomActionBar", "login");

    vueLogin = new Vue({
      el: '#login',
      data: {
        autoActive: false,
        error: '',
        userId: setUserId,
        userPasswd: ''
      },
      methods: {
        sendPost: function (e) {
          this.error = '';
          if (!this.userId) {
            this.error = '아이디를 입력해 주세요.';
          } else {
            if (!this.userPasswd) {
             this.error = '비밀번호를 입력해 주세요.';
            }
          }
          
          if (this.error) {
            callNative("toastMessage", this.error);
            return false;
          }

          $.post(BASE_URL + '/Bmm_api/loginCheck', {
            agent_code: this.userId,
            agent_passwd: this.userPasswd
          })
          .done(function(data) {
            var result = parseResult(data);
            console.log(result.data);
            if (result.code == "success") {
              var userData  = result.data;
              var param = {};
              param['agent_code'] = userData.agent_code;
              param['agent_name'] = userData.agent_name;
              param['mobile'] = userData.mobile;
              param['agent_type'] = userData.agent_type;
              param['job_area'] = userData.job_area;
              param['job_week'] = userData.job_week;
              param['mobile_code'] = deviceUniq;
              dbSql("DELETE FROM agent WHERE agent_code <> '" + userData.agent_code + "'");
              var res = dbMerge("agent", param);

              $.post(BASE_URL + '/Bmm_api/updateMobileCode', {
                agent_code: userData.agent_code,
                mobile_code: deviceUniq
              })
              .done(function(d) {
                var r = parseResult(d);
                console.log(r.d);
                if (r.code == "success") {
                  window.localStorage.setItem("agent_code", userData.agent_code);
                  window.localStorage.setItem("sel_date", getNowDate());
                  window.localStorage.setItem("auto_login_check", ((vueLogin.autoActive)?'Y':'N'));
                  location.replace("main.html");
                } else {
                  //$.alert(r.d);
                  callNative("toastMessage", r.d);
                }
              })
              .fail(function() {
                console.log('failed');
                var agentCode = vueLogin.userId;
                var mobileCode = deviceUniq;
                var agentRow = dbRowArray("SELECT * FROM agent WHERE agent_code='" + agentCode + "' AND mobile_code='" + mobileCode+ "'");
                if (agentRow) {
                  window.localStorage.setItem("agent_code", agentCode);
                  window.localStorage.setItem("sel_date", getNowDate());
                  window.localStorage.setItem("auto_login_check", ((vueLogin.autoActive)?'Y':'N'));
                  location.replace("main.html");
                } else {
                  callNative("toastMessage", "로그인에 실패하였습니다.");
                }
              });


            } else {
              //$.alert(result.data);
              callNative("toastMessage", result.data);
            }
          })
          .fail(function() {
            console.log('failed');
            var agentCode = vueLogin.userId;
            var mobileCode = deviceUniq;
            var agentRow = dbRowArray("SELECT * FROM agent WHERE agent_code='" + agentCode + "' AND mobile_code='" + mobileCode+ "'");
            if (agentRow) {
              window.localStorage.setItem("agent_code", agentCode);
              window.localStorage.setItem("sel_date", getNowDate());
              window.localStorage.setItem("auto_login_check", ((vueLogin.autoActive)?'Y':'N'));
              location.replace("main.html");
            } else {
              callNative("toastMessage", "로그인에 실패하였습니다.");
            }
          });
        },
        autoCheck: function () {
          this.autoActive = !this.autoActive;
        }
      }
    });
  });

  function login () {
    //console.log("function login()");
    vueLogin.sendPost();
  }
  </script>

</body>
</html>