<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Focus Media Korea Monitoring App</title>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendor/jquery-confirm/dist/jquery-confirm.min.css">
  <script type="text/javascript" src="../vendor/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
  <script type="text/javascript" src="../vendor/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="../vendor/common/common.js"></script>
</head>
<body class="main" id="main">
  <div class="header">
    <div class="top" id="mainTop">
      <span>오늘</span><span class="date">{{ nowDate }}</span>
      <a class="refresh" v-on:click="dataSync"></a>
      <a class="logout" v-on:click="logout">로그아웃</a>
    </div>
    <div class="calendar">
      <table>
        <thead>
        <tr>
          <td>일</td>
          <td>월</td>
          <td>화</td>
          <td>수</td>
          <td>목</td>
          <td>금</td>
          <td>토</td>
        </tr>
        </thead>
        <tbody>
        <tr id="mainCalendar">
          <td
            is="calendar-item"
            v-for="(item, index) in items"
            v-bind:key="item.date"
            v-bind:status="item.status"
            v-bind:day="item.day"
            v-on:change-day="changeDay(index)"
          ></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="notice">
      <p>[공지] 모니터링 앱 튜토리얼</p>
      <span class="paging">1/2</span>
    </div>
  </div>
  <article id="buildingsJobList">
    <ul>
      <li v-for="item in items">
        <a>
          <p>{{ item.building_name }}</p>
          <p>{{ item.address }}</p>
        </a>
        <div v-for="detail in item.details"><span class="badge red">반려</span>{{ detail.job_name }}</div>
      </li>
    </ul>
  </article>

<script language="javascript" type="text/javascript">
var agentCode = null;
var thisWeeks = [];
var jobDates = [];
var jobWeek = null;
var nowDate = null;
var selDate = null;
var mainTopVue = null;
var mainCalendarVue = null;
var mainBuildingJobListVue = null;
$(document).ready(function(){
  callNative("hideToolBar");
  callNative("bottomActionBar", "jobStart");

  agentCode = window.localStorage.getItem("agent_code");
  $("#jobList .list-item").on('click', function() {
    // 모니터링/광고촬영 처리 리스트로 이동한다.
    location.href = "buildingJobProcessList.html";
  });

  var agentData = dbSelect("*", "agent", "agent_code='" + agentCode + "'");
  console.log(agentData);
  if (agentData) {
    jobWeek = agentData[0]['job_week'];
  } else {
    jobWeek = '1,2,3,4,5';
  }
  getDateSet();
});

function getDateSet() {  
  nowDate = getNowDate();
  selDate = nowDate;

  var currentDay = new Date();
  var theYear = currentDay.getFullYear();
  var theMonth = currentDay.getMonth();
  var theDate  = currentDay.getDate();
  var theDayOfWeek = currentDay.getDay();
  
  for(var i=0; i<7; i++) {
    var resultDay = new Date(theYear, theMonth, theDate + (i - theDayOfWeek));
    var yyyy = resultDay.getFullYear();
    var mm = Number(resultDay.getMonth()) + 1;
    var dd = resultDay.getDate();
   
    mm = String(mm).length === 1 ? '0' + mm : mm;
    day = dd;
    dd = String(dd).length === 1 ? '0' + dd : dd;
    weekNum = (i == 0)?7:i;
    var ymd = yyyy + '-' + mm + '-' + dd;
    thisWeeks[i] = {
      date: ymd,
      day: day,
      week: weekNum,
      status: (ymd == nowDate)?"on":((jobWeek && jobWeek.indexOf(weekNum) !== -1)?"dim":"")
    };

    if (jobWeek && jobWeek.indexOf(weekNum) !== -1) {
      jobDates.push(ymd);
    }
  }

  mainTopVue = new Vue({
    el: '#mainTop',
    data: {
      nowDate: parseInt(nowDate.substr(5,2)) + "." + parseInt(nowDate.substr(8,2))
    },
    methods: {
      dataSync: function() {
        // 데이터를 동기화하여 받는다.
        dataSync(agentCode);
      },
      logout: function() {
        // 로그아웃한다.
        window.localStorage.setItem("agent_code", "");
        console.log(window.localStorage.getItem("agent_code"));
        location.href = "login.html";
      }
    }
  });

  Vue.component(
    'calendar-item',
    {
      template: '<td v-on:click="$emit(\'change-day\')"><p v-bind:class="[status]">{{ day }}</p></td>',
      props: ['status', 'day']
    }
  );

  mainCalendarVue = new Vue({
    el: '#mainCalendar',
    data: {
      items: thisWeeks
    },
    methods: {
      changeDay: function(idx) {
        var items = this.items;
        var row = items[idx];
        if ($.inArray(row.date, jobDates) === -1) return;
        console.log(this.items.length);
        $.each(items, function(index, item){
          if (index == idx) {
            items[index].status = "on";
            if (items[index].date == nowDate) {
              callNative("bottomActionBar", "jobStart");
            } else {
              callNative("hideBottomActionBar");
            }
            selDate = items[index].date;
            buildingsJobList(selDate);
          } else {
            if (items[index].status) {
              items[index].status = "dim";
            } else {
              items[index].status = "";
            }
          }
        });
      }
    }
  });

  buildingsJobList(selDate);
}

function buildingsJobList(date) {
  var result = dbSql("SELECT t.building_id, b.building_name, b.address FROM ( SELECT mr.building_id, CASE WHEN mr.processing_flag='Y' THEN 1 ELSE 10 END AS sort_cnt FROM monitoring_request mr WHERE date(mr.request_date) = date('" + date + "') UNION SELECT acr.building_id, CASE WHEN acr.processing_flag='Y' THEN 1 WHEN acr.processing_flag='R' THEN 999 ELSE 10 END AS sort_cnt FROM ad_check_request acr WHERE date(acr.request_date) = date('" + date + "') ) t JOIN building b ON t.building_id = b.building_id GROUP BY t.building_id ORDER BY sum(t.sort_cnt) DESC");
  console.log(result);
  result = $.parseJSON(result);

  $.each(result, function(index, item){
    var subResult = dbSql("SELECT mr.processing_flag, '모니터링' AS job_name FROM monitoring_request mr WHERE date(mr.request_date) = date('" + date + "') AND mr.building_id='" + item.building_id + "' UNION SELECT acr.processing_flag, acr.ad_name AS job_name FROM ad_check_request acr WHERE date(acr.request_date) = date('" + date + "') AND acr.building_id='" + item.building_id + "' UNION SELECT ar.processing_flag, (SELECT codename FROM code c WHERE c.code_id=ar.request_type_code_id) AS job_name FROM as_request ar WHERE date(ar.request_date) = date('" + date + "') AND ar.building_id='" + item.building_id + "'");
    console.log(subResult);
    subResult = $.parseJSON(subResult);
    result[index].details = subResult;
  });

  if (mainBuildingJobListVue === null) {
    mainBuildingJobListVue = new Vue({
      el: '#buildingsJobList',
      data: {
        items: result
      },
      methods: {
        jobDetail: function(idx) {
        }
      }
    });
  } else {

  }
}

function qrScanResult(result) {
  // 모니터링, 광고촬영에 있는지 체크
  var qrCode = $.urlParam("cd", result);
  if (qrCode === null) {
    $.alert("인식이 불가능한 QR코드 입니다.");
    return;
  }
  window.localStorage.setItem("qr_code", qrCode);
  console.log(window.localStorage.getItem("qr_code"));
  location.href = "buildingJobList.html";
}

</script>

</body>
</html>